@import "./mixins";

$main-font: -apple-system, BlinkMacSystemFont, sans-serif;

$twm-heading: (
	font-size: 20px,
	font-weight: 600,
	text-transform: uppercase,
);

.text-shadow-1 {
	text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
