@forward "../components/card";

.weekly-section {
	background: #ebe8e8;
	padding: 5rem 0;
	position: relative;

	& .weekly-text-container {
		padding: 0 0 2rem 0;
	}

	& .weekly-title {
		font-size: 20px;
		font-weight: 600;

		&__message {
			font-size: 40px;
		}
	}

	& .swiper-container {
		width: 100%;
		margin: auto;
		position: relative;
		overflow: hidden;
	}

	& .swiper-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		// background-color: red;
	}
}
